div{
    
    display: inline;
    background-color: blue;
    width: 500px;
    height: 50px;

    
    
}
h1{
    font-size: 50px;
}
button{
    background-color: brown;
}
button:hover{
    background-color: darkblue;

}