nav li{
    display: inline-block;
    margin-left: 50px;
    font-size: 20px;
    



}
nav{
    background-color: darkblue;
    padding: 10px;
    
}
a{
    color: rgb(231, 231, 141);
    text-decoration-line: none;
}
a:hover{
    color: rgb(248, 248, 181);
    text-decoration-line: underline;
}

